<!DOCTYPE html>
<html lang="en">
    <!-- head  -->
	<%- include('layouts/head'); -%>
    <body>
        <!-- include navbar  -->
 <%- include('layouts/nav'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Appointment</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
		<main>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
							<h2>Select Test Type </h2>
							<form action="/get-exams" method="GET">
								<select name="testType" id="test">
									<option value="g">G</option>
									<option value="G2">G2</option>
								</select>
								<input type="submit" class="btn btn-primary">
							</form>




					</div>
				</div>
			</div>
		</main>

        <!-- Footer-->
        <%- include ('layouts/footer'); -%>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
