<!DOCTYPE html>
<html lang="en">
    <!-- head  -->
	<%- include('layouts/head'); -%>
    <body>
       <!-- include navbar  -->
 <%- include('layouts/nav'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>G Test Booking</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
			<div class="container">
				<div class="row">
					<form>
						<div class="form-group">
						  <label for="lcnumber">Enter Your License Number </label>
						  <input type="text" class="form-control" id="lcnumber"  placeholder="Enter Name">
						</div>
						<button type="submit" class="btn btn-primary mt-2">Signup</button>
					</form>
				</div>
			</div>
        </main>
        <!-- Footer-->
        <%- include ('layouts/footer'); -%>
		<!-- scripts  -->
        <%- include('layouts/scripts'); -%>
    </body>
</html>
